.gallery-container {
  .page-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 30px 15px;
  }
  .gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    .image {
      width: 25%;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}
