/*--------------------------------------------------------*/
.check-container {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  line-height: 25px;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 15px;
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.check-container input:checked ~ .checkmark {
  background-color: #424242;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-container input:checked ~ .checkmark:after {
  display: block;
}

.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*-------------------------------------------------------------------*/
svg path {
  fill: #424242;
}

.contacts-wrapper {
  width: 350px;
  margin: 100px auto 0;
  background-color: #424242;
}
.contact-heading {
  padding: 15px;
  background-color: #f47d01;
}
.search-block {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.search-block svg.svg-inline--fa {
  width: 25px;
  height: 25px;
}
.search-field {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  border: none;
  outline: none;
}
.checkbox-wrapper {
  display: flex;
  justify-content: space-between;
}
.contact-book {
  min-height: 330px;
}
.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 15px;
}
.icon {
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon svg.svg-inline--fa {
  width: 25px;
  height: 25px;
}

.contact-name {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
}
.contact-phone {
  color: #adadad;
  font-size: 12px;
  line-height: 14px;
}
.not-found {
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 15px;
}
